<div class="container">
    
    <dl class="row">
        <dt class="col-sm-3">Photo:</dt>
        <dd class="col-sm-9">
            <img src="/Assets/images/IMG_3242.JPG" width="250" class="rounded float-start" alt="image_of_about_me">
        </dd>
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9">
            <p>Chun Kit Lam</p>
        </dd>
      
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">
          <p>Hello I am Chun Kit Lam, this is my second semester in Software Engineering Technology (Fast-Track).
            I came to Canada last month(Dec 2020) from Hong Kong. I was a web programmer in Hong Kong since 2000.</p>
        </dd>
      
        <dt class="col-sm-3">Resume</dt>
        <dd class="col-sm-9">
          <p><a href="/Assets/pdf/CA_RESUME-Chun_Kit_Lam.pdf" target="_new_pdf" class="link-primary">download</a></p>
        </dd>
      
      </dl>
      <br>
      <br>
      <br>
      <br>
      <br>
</div>