  <!-- Bottom Nav-->
  <footer>
    
    <nav class="navbar fixed-bottom navbar-dark" style="background-color: #003300;">
        <div class="container">
            <h6 class="display-6 navbar-text">&copy; Copyright 2020. All rights reserved.</h6>
        </div>
    </nav>

  </footer>