<div class="container">
    <dl class="row">
        <dt class="col-sm-3">Project#1:</dt>
        <dd class="col-sm-9">
            <img src="/Assets/images/p1/logged_out.jpg" width="200" class="rounded float-start" alt="p1.1">
            <img src="/Assets/images/p1/log_in.jpg" width="200" class="rounded float-start" alt="p1.2">            
            <img src="/Assets/images/p1/register.jpg" width="200" class="rounded float-start" alt="p1.3">
            <img src="/Assets/images/p1/environment.jpg" width="200" class="rounded float-start" alt="p1.4">
            <img src="/Assets/images/p1/irrigation_illumination.jpg" width="200" class="rounded float-start" alt="p1.5">
            <img src="/Assets/images/p1/live_view.jpg" width="200" class="rounded float-start" alt="p1.6">
            <p><b>Smart Garden with Weather Station System</b> - This is my first time use figma.com for UI/UX design.</p>
        </dd>
      
        <dt class="col-sm-3">Project#2:</dt>
        <dd class="col-sm-9">
            <img src="/Assets/images/p2/IMG_1798.png" width="200" class="rounded float-start" alt="p2.1">
            <img src="/Assets/images/p2/IMG_1799.png" width="200" class="rounded float-start" alt="p2.2">            
            <p><b>Alipay / AlipayHK</b> - Add a new online payment method which under the Great Firewall of China.</p>
        </dd>
      
        <dt class="col-sm-3">Project#3:</dt>
        <dd class="col-sm-9">
            <img src="/Assets/images/IMG_1799_1.png" width="200" class="rounded float-start" alt="p3.1">
            <p><b>Daily Newspaper print edition web sit</b> - My daily job from last ten years, from flash version > cgi > javascript ; from websit > mobile version > IOS app / Android, never break down more than one hour!</p>
        </dd>
      
      </dl>
      <br>
      <br>
      <br>
      <br>
      <br>

</div>