<div class="container">
    <dl class="row">
        <dt class="col-sm-3">Web Statistics Analysis</dt>
        <dd class="col-sm-9">
            <p>Included Google Analytics <i class="fab fa-google"></i> / Apache <i class="fas fa-helicopter"></i> / Nginx <i class="fab fa-searchengin"></i> / Urchin <i class="fas fa-certificate"></i> / Cloudflare <i class="fab fa-cloudflare"></i> / CloudFront <i class="fas fa-cloud-download-alt"></i> - Log Data Analytics</p>
        </dd>
      
        <dt class="col-sm-3">Payment Gateway for Web Site</dt>
        <dd class="col-sm-9">
            <img src="/Assets/images/How_to_start_on_online_eCommerce_business_-1024x536.png" width="400" class="rounded float-start" alt="services_money">           
            <p>Suggestions / solutions online payment methods include: Visa / Master Card / PayPal / ApplePay / Alipay </p>
        </dd>
      
        <dt class="col-sm-3">Fixing Old Code</dt>
        <dd class="col-sm-9">            
            <p>Included Perl / CGI / VB / HTML / CSS / Java / Java Script / UNIX shell Script / Oracle stored procedures
        </dd>
      
      </dl>
      <br>
      <br>
      <br>
      <br>
      <br>

</div>